# /etc/systemd/system/predator-sense.service 

[Unit]
Description=Linux-PredatorSense HotKey Monitor
After=graphical.target
Wants=graphical.target

[Service]
Type=simple
WorkingDirectory=/path/of/the/software/
ExecStartPre=/path/of/the/software/prepare_xenv.sh
ExecStart=/usr/bin/python3 /path/of/the/software/monitor_evdev.py
Restart=on-failure
RestartSec=2
StandardOutput=journal
StandardError=journal
KillMode=process

[Install]
WantedBy=multi-user.target
