[Desktop Entry]
Name=Linux PredatorSense
StartupWMClass=Linux PredatorSense
Encoding=UTF-8
Version=1.1.1
Type=Application
Terminal=false
Exec=/path/of/the/software/wrapper.sh
Comment=Application to control fan speed for the Acer Predator Helios 300 (2021).
Icon=/path/of/the/software/app_icon.ico