[Desktop Entry]
Name=Linux PredatorSense
StartupWMClass=Linux PredatorSense
Encoding=UTF-8
Version=1.1.1
Type=Application
Terminal=false
Exec=/opt/Linux-PredatorSense/wrapper.sh
Comment=Application to control fan speed for the Acer Predator Helios 300 (2021).
Icon=/opt/Linux-PredatorSense/app_icon.ico
